<div *ngIf="loading" class="loading">
    <h1>Loading...</h1>
  </div>
  <div class="product-list">
    <div class="product-card" *ngFor="let product of products">
      <img
        [src]="product.imageUri"
        alt="{{ product.name }} image..."
        class="product-image"
      />
      <div class="product-details">
        <h2 class="product-name">{{ product.name }}</h2>
        <p class="product-description">{{ product.description }}</p>
        <p class="product-price">{{ product.price | currency }}</p>
        <p class="product-category">Category: {{ product.categoryName }}</p>
        <p class="product-brand">Brand: {{ product.brandName }}</p>
        <p class="product-code">Code: {{ product.productCode }}</p>
        <p class="product-rating">Rating: {{ product.rating }}</p>
  
        <div class="quantity-controls">
          <span class="product-quantity">Quantity: {{ product.quantity }}</span>
          <div class="btns">
            <button (click)="decreaseQuantity(product.productCode)">
              <i class="fas fa-minus"></i>
            </button>
            <button (click)="increaseQuantity(product.productCode)">
              <i class="fas fa-plus"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  